<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>

</head>
<body>
<table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>AGE</th>
                                    <th>PHONE NUMBER</th>
                                  </tr>
                                </thead>
                             <tbody>
                                  <tr>
                                    <td th:text="${p.id}"></td>
                                    <td th:text="${p.name}"></td>
                                    <td th:text="${p.age}"></td>
                                    <td th:text="${p.phone}"></td>
                                  </tr>
                                  <tr>
                                    <td th:text="${a.id}"></td>
                                    <td th:text="${a.name}"></td>
                                    <td th:text="${a.age}"></td>
                                    <td th:text="${a.phone}"></td>
                                  </tr>
                                  <tr>
                                    <td th:text="${b.id}"></td>
                                    <td th:text="${b.name}"></td>
                                    <td th:text="${b.age}"></td>
                                    <td th:text="${b.phone}"></td>
                                  </tr>
                                </tbody>    
                                
                                          </table>
</body>
</html>